{% extends 'front/page-front.html' %}
{% block content %}
{% load static %}
  <!-- END HEADER 7 w/ text and video -->
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <div class="container py-6 mt-2">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark opacity-5"><a href="{% url 'home' %}">Front</a></li>
            <li class="breadcrumb-item text-dark active" aria-current="page">About</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="row justify-content-start">
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-dark text-info mb-3">public</i>
                  <h5>Nama : Aditya Pranata <br> Nim : 2011102441052</h5>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-dark text-info mb-3">payments</i>
                  <h5><span class="badge badge-info badge-sm">{{ user }}</span></h5>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-4">
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-dark text-info mb-3">3p</i>
                  <h5>Username : adityap<br> Password : dozacasper1702</h5>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-3xl text-dark text-info mb-3">email</i>
                  <h5>2011102441052@umkt.ac.id</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
            <div class="card">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                  <img src="{% static 'images/profile.jpg' %}" alt="img-colored-shadow" class="img-fluid border-radius-lg">
                </a>
              </div>
              <div class="card-body text-center">
                <h5 class="font-weight-normal">
                  <a href="javascript:;">{{ user }}</a>
                </h5>
                <p class="mb-0">
                  "Jika kamu menunggu dirimu sampai siap menghadapi pelajaran, maka seumur hidupmu hanya akan kamu habiskan untuk menunggu."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Section with four info areas left & one card right with image and waves -->
    <div class="py-lg-5 py-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="mb-1">Terima Kasih Atas Dukungan Anda!</h4>
            <p class="lead mb-0">Semoga Web Berita Ini Bermanfaat.</p>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-4 d-lg-flex align-items-center justify-content-end">
            <a href="https://web.facebook.com/aditya.pranata.3679/" target="_blank" class="btn btn-facebook mb-lg-0 mb-2 me-2">
              <i class="fab fa-facebook-square me-1"></i> Facebook
            </a>
            <a href="https://www.instagram.com/oreonzuu/" target="_blank" class="btn btn-instagram mb-lg-0 mb-2 me-2">
              <i class="fab fa-instagram me-1"></i> Instagram
            </a>
            <a href="https://github.com/AdityaPranata1702/berita-seputar-game-dan-teknologi/" target="_blank" class="btn btn-github mb-lg-0 mb-2">
              <i class="fab fa-github me-1"></i> Github
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- START Features w/ pattern background & stats & rocket -->
  </div>
{% endblock %}