{% extends 'front/page-front.html' %}
{% block content %}
</div>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <div class="container">
      <div class="container py-6 mt-2">
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item text-dark opacity-5"><a href="{% url 'home' %}">Front</a></li>
              <li class="breadcrumb-item text-dark active" aria-current="page">Home</li>
            </ol>
          </nav>
        </div>
      </div>
        <!-- START Content Home -->
        <section class="py-4 position-relative">
          <div class="container-fluid">
            <div class="row">
              <div class="col-10 mx-auto bg-gradient-dark border-radius-lg">
                <div class="row py-5">
                  <div class="col-xl-4 col-md-6 px-5 position-relative">
                    <img class="img border-radius-md max-width-300 w-100 position-relative z-index-2" src="https://images.unsplash.com/photo-1521668576204-57ae3afee860?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" loading="lazy" alt="card image">
                  </div>
                  <div class="col-xl-4 col-md-5 z-index-2 position-relative px-md-3 px-5 my-md-auto mt-4">
                    <p class="text-lg text-white">
                      Di bidang pendidikan, manfaat teknologi informasi hadir dalam berbagai bentuk. Dari pengolahan data dengan komputer, e-learning, dan pengerjaan tugas berbasis IT. Dampaknya pun semakin terasa di masa pandemi seperti sekarang. Karena Kegiatan Belajar Mengajar tidak bisa dilakukan secara langsung untuk sementara waktu, aktivitas tersebut kini mengandalkan perangkat seperti laptop dan smartphone untuk pengajaran online hingga mengumpulkan tugas.
                    </p>
                    <p class="text-white font-weight-bold text-sm"> - {{ user }}<span class="text-xs font-weight-normal"></span></p>
                    <hr class="vertical start-100 ms-n5 d-xl-block d-none">
                  </div>
                  <div class="col-1"></div>
                  <div class="col-xl-2 col-12 px-xl-0 px-5 my-xl-auto">
                    <h3 class="text-white mt-xl-0 mt-5">1,679,700 +</h3>
                    <p class="text-sm text-white opacity-8">Blog Adalah Semua Postingan Admin Berada.</p>
                    <a href="{% url 'blog' %}" class="text-white icon-move-right text-sm">See all Posts
                      <i class="fas fa-arrow-right text-xs ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- START Features w/ icons and text on left & gradient title and text on right -->
        <section class="py-sm-7 py-4">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <h3 class="mt-2">Read More About Us</h3>
                <p>
                  Suatu saat nanti, kamu yang hari ini suka menunda-nunda pekerjaan adalah kamu yang nanti akan menyesal karena membuang waktumu untuk melakukan hal-hal yang tidak berguna.
                </p>
                <a href="{% url 'about' %}" class="text-primary text-sm icon-move-right">More About Us
                  <i class="fas fa-arrow-right text-xs ms-1"></i>
                </a>
              </div>
              <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0 ms-auto">
                <div class="p-3 info-horizontal d-flex align-items-center">
                  <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl">
                    <i class="material-icons opacity-10">mediation</i>
                  </div>
                  <div class="description ps-3">
                    <p class="mb-0">
                      "Bermimpilah setinggi langit, jika engkau jatuh,<br>
                      engkau akan jatuh di antara bintang." - Soekarno
                    </p>
                  </div>
                </div>
                <div class="p-3 info-horizontal d-flex align-items-center">
                  <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl">
                    <i class="material-icons opacity-10">settings_overscan</i>
                  </div>
                  <div class="description ps-3">
                    <p class="mb-0">
                      "Raihlah ilmu dan untuk meraih ilmu,<br>
                      belajarlah untuk tenang dan sabar." - Umar bin Khattab
                    </p>
                  </div>
                </div>
                <div class="p-3 info-horizontal d-flex align-items-center">
                  <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl">
                    <i class="material-icons opacity-10">token</i>
                  </div>
                  <div class="description ps-3">
                    <p class="mb-0">
                      "Mulailah dari mana kau berada.  Gunakan apa yang<br> 
                      kau punya. Lakukan apa yang kau bisa." - {{ user }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END Features w/ icons and text on left & gradient title and text on right -->
        <section class="py-5">
          <div class="container">
              <div class="row text-center justify-content-center">
                  <div class="col-lg-6">
                  <span class="badge rounded-pill badge-dark mb-2">API Tribun News</span>
                  <h2>Web Berita Terbesar Di Indonesia</h2>
                  <p>
                    Tribunnews.com merupakan satu-satunya Portal Berita Online yang memiliki jaringan kanal berita daerah terbesar di Indonesia, terdapat lebih dari 23 kanal berita online yang tersedia. Portal media network Tribunnews.com telah memiliki lebih dari 1,1 juta daily visitors.
                  </p>
                </div>
              </div>
            <div class="row">
              {% for image,date,title,body,link in mycontent %}
              <div class="col-lg-3 col-sm-6">
                <div class="card card-plain card-blog mt-4">
                  <div class="card-header p-0 position-relative z-index-2">
                    <a class="d-block blur-shadow-image">
                      <img src="{{ image }}" alt="img-blur-shadow" class="img-fluid border-radius-lg">
                    </a>
                  </div>
                  <div class="card-body px-0">
                    <p class="text-uppercase font-weight-bold text-info text-xs">{{ date }}</p>
                    <h5>
                      <a href="javascript:;" class="text-dark font-weight-bold">{{ title }}</a>
                    </h5>
                    <p>
                      {{ body|truncatechars:150 }}
                      <a href="{{ link }}" class="text-primary icon-move-right" target="_blank"> Read More</a>
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
        <!-- START PRE-FOOTER 8 w/ TEXT, BG IMAGE AND 2 BUTTONS -->
    </div>
  </div>
</div>
{% endblock %}