{% load static %}
<div class="collapse navbar-collapse w-auto h-auto max-height-vh-100 h-100"
     id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <li class="nav-item mb-2 mt-0">
      <a data-bs-toggle="collapse"
         href="#ProfileNav"
         class="nav-link text-white"
         aria-controls="ProfileNav"
         role="button"
         aria-expanded="false">
        <img src="{% static 'back/img/team-3.jpg' %}" class="avatar" />
        <span class="nav-link-text ms-2 ps-1">{{ user }}</span>
      </a>
      <div class="collapse" id="ProfileNav" style="">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'profile' %}">
              <span class="sidenav-mini-icon">PFL</span>
              <span class="sidenav-normal ms-3 ps-1">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white"
               href="{% url 'logout' %}">
              <span class="sidenav-mini-icon">LT</span>
              <span class="sidenav-normal ms-3 ps-1">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <hr class="horizontal light mt-0" />
    <li class="nav-item">
      <a class="nav-link text-whit" href="{% url 'posts' %}">
        <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">receipt_long</i>
        <span class="nav-link-text ms-2 ps-1">LIST POSTING</span>
      </a>
    </li>
    {% if request.session.is_admin == 'admin' %}
    <li class="nav-item">
      <a class="nav-link text-whit" href="{% url 'users' %}">
        <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">list_alt</i>
        <span class="nav-link-text ms-2 ps-1">LIST USER</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
