{% extends 'back/page-back.html' %} 
{% load static %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row mt-4">
    <div class="col-lg-9 col-12 mx-auto position-relative">
      <div class="card">
        <!-- Card header -->
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow text-center border-radius-xl mt-n4 me-3 float-start">
            <i class="material-icons opacity-10">post_add</i>
          </div>
          <h6 class="mb-0">{{ title }}</h6>
        </div>
        <form class="card-body pt-2" method="POST">
          {% csrf_token %}
          <div class="row col-lg-10 mx-auto">
            {{ plus.judul }}
          </div>
          <div class="row pt-4">
            <div class="row col-lg-12 mx-auto">
              {{ plus.body }}
            </div>
          </div>
          <div class="row mb-5 pt-4 col-lg-10 mx-auto">
            {{ plus.category }}
          </div>
          <div class="d-flex justify-content-end mt-4">
            <a href="{% url 'posts' %}" type="button" name="button" class="btn btn-light m-0">
              Cancel
            </a>
            <button type="submit" class="btn bg-gradient-dark m-0 ms-2">
              Posting
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
