{% extends 'back/page-back.html' %}
{% block content %}
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Data Users</h5>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center mb-5">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">No</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Email Addres</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">First Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Last Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">Staff Status</th>
                <th class="text-secondary"></th>
              </tr>
            </thead>
            <tbody>
              {% for u in users %}
                <tr>
                  <td><center>{{ forloop.counter }} </center></td>
                  <td>{{ u.username }}</td>
                  <td>{{ u.email }}</td>
                  <td>{{ u.first_name }}</td>
                  <td>{{ u.last_name }}</td>
                  <td>
                    <span class="badge badge-success badge-sm">{{ u.is_staff }}</span>
                  </td>
                </tr>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}